---
import Layout from "../layouts/Layout.astro";
import HeaderPage from "../components/HeaderPage.astro";
import ResourceCardsContainer from "../components/ResourceCardsContainer.astro";
import ResourceCard from "../components/ResourceCard.astro";
import Badge from "../components/Badge.astro";
import resources from "../data/resources.json";

const allTags = new Set(resources.flatMap((resource) => resource.tags ?? []));
---

<Layout>
  <HeaderPage
    title="Recursos"
    subtitle="Enlaces a herramientas, servicios y proyectos interesantes"
  />
    <!-- 
    <ul id="item-list">
      {items.map(item => (
        <li key={item.id} data-category={item.category}>
          {item.name} ({item.category})
        </li>
      ))}
    </ul>
-->
  
  <div id="filterTags">
    {[...allTags].map((tag) => <button class="filterTag" data-filter={tag}>{tag}</button>)}
  </div>
  <ResourceCardsContainer>
    {resources.map((resource) => <ResourceCard resource={resource} />)}
  </ResourceCardsContainer>
</Layout>

<script type="module">
  const filterItems = document.querySelectorAll('#filterTags .filterTag');
  const items = document.querySelectorAll('ul.resourceCardsContainer li');
  filterItems.forEach(filterItem => {
    filterItem.addEventListener('click', () => {
      const filter = filterItem.dataset.filter;
      items.forEach(item => {
        const itemCategory = item.dataset.category;
        if (itemCategory !== undefined && itemCategory.split(',').includes(filter)) {
          item.style.display = '';
        } else {
          item.style.display = 'none';
        }
      });
    });
  });
</script>

<style>
  div {
    padding: 40px 60px;
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
</style>
